.modal {
  max-width: 37.5rem;
  height: 100%;
}

.container {
  padding: 1.25rem;
  --tab-color: rgb(225, 155, 153);
}

.header {
  border: 0.125rem solid var(--tab-color);
  border-radius: 0.5rem;
  display: flex;
  margin: 2.5rem 0;
}

.tabItem {
  padding: 0.5rem 0;
  font-weight: 600;
  width: 100%;
  color: var(--tab-color);
  background-color: transparent;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.tabItem:nth-child(2) {
  border-right: 00.125rem solid var(--tab-color);
  border-left: 00.125rem solid var(--tab-color);
}

.active {
  background-color: var(--tab-color);
  color: white;
}

.titleContainer {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.title {
  font-size: 1.125rem;
  color: rgb(87, 87, 87);
  font-weight: 600;
}

.titleLine {
  height: 0.0625rem;
  display: flex;
  flex-grow: 1;
  background-color: rgb(240, 240, 240);
  border: none;
}
